@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}



body {
    height: 100vhs;
    box-sizing: border-box;
    background-color: rgb(0, 30, 32);
    color: rgb(255, 255, 255);

}
.destaqueTitulo{
    color: rgb(255, 0, 0);
}
.destaqueTitulo:hover{
    color: rgb(121, 50, 179);
}
.aprecentacao{
    margin: 10% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aprecentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.aprecentacao__conteudo__titulo{
    font-size: 36px;
    font-family:'Krona One', sans-serif;
}
.aprecentacao__conteudo__texto{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}
.aprecentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.aprecentacao__links__subtitulo{
    font-family:'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.aprecentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border: 2px solid #22d4fd;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;

}
.aprecentacao__links__link:hover{
    background-color:rgb(0, 177, 147) ;
}
.foto_principal{
border-radius: 30px;
}
