@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: rgb(0, 30, 32);
    --cor-segundaria:#f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #380180;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-segundaria: 'Montserrat', sans-serif;


}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vhs; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-segundaria);

}
.destaqueTitulo{
    color: rgb(255, 0, 0);
}
.destaqueTitulo:hover{
    color: var(--cor-hover);
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-segundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.aprecentacao{
    padding:  5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aprecentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.aprecentacao__conteudo__titulo{
    font-size: 36px;
    font-family:var(--fonte-primaria);
}
.aprecentacao__conteudo__texto{
    font-family: var(--fonte-segundaria);
    font-size: 24px;
}
.aprecentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.aprecentacao__links__subtitulo{
    font-family:var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}
.aprecentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-segundaria);
    font-family: var(--fonte-segundaria);

}
.aprecentacao__links__link:hover{
    background-color:rgb(0, 177, 147) ;
}
.foto_principal{
border-radius: 30px;
}
.rodape{
   text-align: center;
    padding: 24px;
    color:black;
    background-color: blue;
    font-size: 24px;
    font-family: var(--fonte-segundaria);
    font-weight: 400;
}
